@charset "utf-8";
@font-face {
    font-family: 'Inter';
    src: url('path/to/inter-font-file.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: 'slnt' 0;
}
* {
    color: white;
}
:root {
    --color-dg: #1b1b1b;
    --color-dd: #0b0b0b;
    background-color: var(--color-dg);
}
.wrap {
    overflow: hidden;
}
.mw {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.logo img {
    padding: 1rem;
}
header {
    width: 100%;
    background-color: var(--color-dg);
}
header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .ham {
    display: none;
}
.gnb {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    padding-right: 5rem;
}
.gnb li a {
    color: white;
}

.login {
    color: white;
    background-color: var(--color-dg);
    border: 1px solid white;
    border-radius: 0.8rem;
    width: 4rem;
    height: 2rem;
    margin-right: 1rem;
    white-space: nowrap;
}
.sign {
    color: white;
    background-color: #fb6514;
    border: inherit;
    border-radius: 0.8rem;
    width: 4rem;
    height: 2rem;
    white-space: nowrap;
}
.main {
    background-image: url('./img/main-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-visual {
    width: 50%;
    padding: 200px 1rem;
}
.main-visual h2 {
    color: white;
    font-size: 80px;
    font-weight: bold;
    line-height: 5rem;
    margin-bottom: 2rem;
}
.main-visual p {
    color: white;
    font-size: 27px;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}
.main-visual input {
    width: 70%;
    height: 50px;
    border: inherit;
    border-radius: 2rem;
    padding-left: 1rem;
    margin-right: 2rem;
    min-width: 250px;
}
.main-visual button {
    background-color: #fb6514;
    color: white;
    border: inherit;
    height: 50px;
    width: 20%;
    border-radius: 2rem;
    min-width: 120px;
    white-space: nowrap;
}
.main-visual button::after {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    position: relative;
    left: 10px;
}
.sponsored {
    background-color: var(--color-dd);
}
.sponsored-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.sponsored-inner img {
    width: 151px;
}
.backgournd-dd {
    background-color: var(--color-dd);
    padding-bottom: 1rem;
    border-radius: 0 0 5rem 5rem;
}
.category {
    background-color: var(--color-dg);
    border-radius: 5rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}
.category h2 {
    color: white;
    font-size: 61px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 2rem 0 5rem 0;
}
.category-card-wrap {
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.category-card {
    width: 21.2%;
    min-width: 280px;
    height: 380px;
    background: rgb(135, 20, 251);
    background: linear-gradient(0deg, rgba(135, 20, 251, 1) 0%, rgba(180, 104, 255, 1) 100%);
    margin-bottom: 5rem;
    border-radius: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 2rem 2.5rem 2rem;
}
.category-card h3 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}
.category-card p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.category-card button {
    width: 50%;
    height: 3rem;
    border: inherit;
    border-radius: 1rem;
    color: #b468ff;
    white-space: nowrap;
}
.category-card i {
    position: absolute;
    top: 3rem;
}
.progress {
    background-color: var(--color-dg);
    margin: 1rem;
    border-radius: 5rem;
    background-image: url('./img/background-img.svg');
    background-repeat: no-repeat;
    background-position: right 15%;
    background-size: cover;
}
.progress-inner {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 8rem 1rem;
    flex-wrap: wrap;
}
.progress-inner h2 {
    font-size: 47px;
    font-weight: bold;
}
.progress-inner p {
    font-size: 27px;
}
.plans {
    background-color: var(--color-dg);
    border-radius: 5rem;
    margin: 1rem;
}

.plans h2 {
    color: white;
    font-size: 61px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 2rem 0 5rem 0;
}
.plan-card-wrap {
    display: flex;
    gap: 5%;
    padding: 0 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.plan-card {
    padding: 1rem;
    width: 400px;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    margin-bottom: 5rem;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 80%), url('./img/plan1.jpg');
    background-size: 100%, 100% 40%;
    background-repeat: no-repeat;
}
.plan-card.orange {
    background-image: linear-gradient(0deg, rgba(251, 101, 20, 1) 60%, rgba(0, 0, 0, 0) 80%), url('./img/plan1.jpg');
}
.plan-card h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 100;
    top: -50px;
    margin-top: 200px;
}
.plan-card p span {
    font-size: 1.5rem;
}
.plan-card p strong {
    font-size: 3rem;
}
.plan-card .price {
    text-align: center;
    padding-bottom: 2rem;
}
.plan-card-text-wrap {
    margin: auto;
}
.plan-card-text-wrap p {
    padding-bottom: 2rem;
    line-height: 1.5rem;
}
.plan-card-text-wrap li {
    padding: 1.5rem 0;
    border-top: 1px solid white;
}
.plan-card-text-wrap .checked::before {
    content: '\f14a';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 1.5rem;
    padding-right: 1rem;
    color: #fd853a;
}
.plan-card-text-wrap .checked.white::before {
    content: '\f14a';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 1.5rem;
    padding-right: 1rem;
    color: white;
}
.plan-card-text-wrap .unChecked::before {
    content: '\f2d3';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 1.5rem;
    padding-right: 1rem;
}
.plan-card button {
    font-size: 1.5rem;
    border: 1.5px solid white;
    background-color: inherit;
    border-radius: 1.5rem;
    margin: 0 14%;
    margin-bottom: 2rem;
    padding: 1rem 0;
    color: white;
    cursor: pointer;
    min-width: 200px;
}
.plan-card button::after {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    position: relative;
    left: 1rem;
}
.step {
    color: white;
    margin-top: 5rem;
}
.step h2 {
    text-align: center;
    font-size: 61px;
    font-weight: bold;
    padding-bottom: 1rem;
}
.step-card {
    background-color: var(--color-dg);
    margin: 1rem;
    border-radius: 5rem;
}
.step-card-inner {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap;
}

.step .step-img {
    order: -1;
    border-radius: 5rem;
    width: 40%;
    margin: 5rem 0;
}
.step-text-wrap {
    width: 50%;
}
.step-text-wrap h3 {
    font-size: 61px;
    font-weight: bold;
    padding-bottom: 2rem;
    line-height: 4.5rem;
}
.step-text-wrap div {
    display: inline-block;
    line-height: 2rem;
}
.step-text-wrap strong {
    font-size: 61px;
    font-weight: bold;
}
.step-text-wrap strong::before {
    content: '\f013';
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #273b4a;
    position: relative;
    bottom: 1rem;
    padding-right: 0.5rem;
}
.step-text-wrap strong::after {
    content: '+';
    font-weight: bold;
    color: #fd853a;
}
.step-text-wrap p {
    font-size: 21px;
    padding-bottom: 2rem;
    line-height: 2.5rem;
    padding-bottom: 3rem;
}
.step-text-wrap button {
    font-size: 26px;
    background-color: #fb6514;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    display: block;
    cursor: pointer;
}
.step-text-wrap h4 {
    font-size: 27px;
    font-weight: bold;
    padding-bottom: 1rem;
}
.work li {
    display: flex;
    flex-direction: row;
}
.step-text-inner-wrap {
    display: flex;
}
.work img {
    margin: 0 2rem 1rem 0;
    order: -1;
    width: 100px;
    height: 100px;
}
.step .step-right-img {
    order: 2;
    border-radius: 5rem;
    width: 40%;
    margin: 5rem 0;
}
.map h2 {
    margin-top: 5rem;
    font-size: 61px;
    font-weight: bold;
    text-align: center;
}
.map iframe {
    border-radius: 5rem;
    padding: 3rem;
}
.faq h2 {
    margin: 3rem 0;
    font-size: 61px;
    font-weight: bold;
    text-align: center;
}
.faq-list-wrap {
    margin: 0 3rem;
}
.faq-list {
    width: 100%;
    background-color: var(--color-dd);
    padding: 2rem;
    border-radius: 3rem;
    overflow: hidden;
    height: 100px;
    transition: 0.3s;
    margin-bottom: 2rem;
    border: 1px solid #fb6514;
}
.faq-list.on {
    height: 250px;
}
.faq-list p {
    font-size: 36px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.faq-list .faq-toggle {
    background-color: var(--color-dg);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #717171;
    cursor: pointer;
}
.faq-list div {
    width: 55%;
    font-size: 21px;
    color: #6f6f6f;
    line-height: 2rem;
}
.news h2 {
    font-size: 61px;
    text-align: center;
    font-weight: bold;
    padding: 2rem 0;
}
.news .mySwiper {
    margin: 0 3rem;
    height: 100%;
}

.news .swiper-slide {
    border-radius: 5rem;
    background-color: var(--color-dd);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.news .swiper-slide div {
    width: 20%;
}
.news .swiper-slide div p {
    color: #667085;
    padding-bottom: 2rem;
}
.news .swiper-slide h3 {
    font-size: 36px;
    font-weight: bold;
    padding: 2rem 0;
}
.news .swiper-slide div:nth-of-type(1) h3::before {
    content: '\f46d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    display: block;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.news .swiper-slide div:nth-of-type(2) h3::before {
    content: '\f70c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    display: block;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.news .swiper-slide div:nth-of-type(3) h3::before {
    content: '\f44b';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    display: block;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.news .swiper-pagination-bullet-active {
    background-color: #fb6514 !important;
    width: 100px !important;
    border-radius: inherit;
    transition: 0.3s;
}
.news .swiper-pagination-bullet {
    background-color: #bababa;
    width: 3rem;
    border-radius: inherit;
    transition: 0.3s;
}
.news .swiper-button-next,
.news .swiper-button-prev {
    display: none;
}

.profesional {
    background-image: url('./img/background-img.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profesional-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profesional h2 {
    font-size: 61px;
    font-weight: bold;
    text-align: center;
    padding: 5rem 0;
}
.profesional p {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    line-height: 3rem;
}
.profesional button {
    font-size: 26px;
    background-color: #fb6514;
    color: white;
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: 1.5rem;
    display: block;
    cursor: pointer;
    margin-bottom: 5rem;
}
footer {
    background-color: var(--color-dd);
    border-radius: 5rem 5rem 0 0;
}
.footer-inner {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo p {
    padding-top: 3rem;
    font-size: 27px;
    line-height: 2.5rem;
}
.fnb {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: space-between;
    gap: 10rem;
}
.fnb a {
    color: white;
    font-size: 23px;
    font-weight: 400;
    line-height: 4rem;
}
.copyright {
    margin: 10rem 0 0 0;
    padding: 2rem 0;
    font-size: 23px;
    border-top: 1px solid white;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .head-inner {
        display: flex;
        justify-content: space-between;
    }
    header {
        position: fixed;
        z-index: 999;
        max-height: 70px;
    }
    header .gnb {
        transform: translateX(200%);
        transition: 0.5s;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        z-index: -100;
    }
    header button {
        display: none;
    }
    header nav {
        align-items: flex-start;
    }
    header .ham {
        display: block;
        font-size: 3rem;
        padding: 1rem;
        z-index: 9999;
    }
    header .gnb.on {
        visibility: visible;
        position: fixed;
        background-color: black;
        height: 100vh;
        top: 0;
        z-index: 1000;
        transform: translateX(0);
    }
    .gnb li {
        font-size: 31px;
        border-bottom: 1px dotted white;
        padding-bottom: 1rem;
    }
    .main-visual input {
        margin-bottom: 1rem;
    }
    .faq-list div {
        width: calc(100% - 2rem);
    }
    .news .mySwiper {
        margin: 0 1rem;
    }
    .map iframe {
        padding: 1rem;
    }
    .faq-list-wrap {
        margin: 0 1rem;
    }
}
@media (max-width: 900px) {
}
@media (max-width: 800px) {
    .sponsored-inner {
        flex-direction: column;
    }
    .sponsored-inner li {
        padding: 1rem;
    }
    .progress-inner {
        flex-direction: column;
        gap: 2rem;
    }
    .news .swiper-slide div {
        width: 25%;
    }
}
@media (max-width: 750px) {
    .faq-list p {
        font-size: 26px;
    }
    .faq-list-wrap {
        margin: 0 1rem;
    }
}
@media (max-width: 700px) {
    .main-inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .faq-list.on {
        height: 350px;
    }
    .news .swiper-slide div {
        width: calc(100% - 2rem);
    }
    .news .swiper-slide div h3::before {
        text-align: center;
    }
}
@media (max-width: 600px) {
    :root {
        background-color: var(--color-dd);
    }
    .main-visual {
        width: calc(100% - 2rem);
    }
    .main-visual p {
        font-size: 16px;
        line-height: 1.5rem;
    }
    .category-card {
        background: black;
    }
    .category-card button {
        color: white;
        background-color: #fb6514;
    }
    .progress-inner p {
        font-size: 21px;
    }
    .plan-card.orange {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 80%), url('./img/plan1.jpg');
    }
    .step .step-img {
        width: 100%;
    }
    .step .step-right-img {
        width: 100%;
    }
    .step-text-wrap {
        width: 100%;
        padding-bottom: 1rem;
    }
    .faq-list p {
        font-size: 26px;
    }
    .faq-list p {
        font-size: 21px;
    }
    .main-visual h2 {
        font-size: 31px;
        line-height: 2rem;
    }

    .category h2,
    .progress-inner h2,
    .plans h2,
    .step h2,
    .step-text-wrap h3,
    .map h2,
    .faq h2,
    .news h2 {
        font-size: 31px;
    }
    .news .swiper {
        overflow: visible;
    }
    .news .swiper-slide {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-dg);
    }
    .news .swiper-button-next,
    .news .swiper-button-prev {
        display: block;
        top: inherit;
        bottom: 5rem;
    }

    .news .swiper-button-prev::after {
        content: '\f060';
        font-weight: 600;
        font-family: 'Font Awesome 5 Free';
        color: white;
        background-color: #fd853a;
        border-radius: 50%;
        padding: 0.5rem;
    }
    .news .swiper-button-next::after {
        content: '\f061';
        font-weight: 600;
        font-family: 'Font Awesome 5 Free';
        color: white;
        background-color: #fd853a;
        border-radius: 50%;
        padding: 0.5rem;
    }
    .news .swiper-button-prev {
        left: 30%;
    }
    .news .swiper-button-next {
        left: 55%;
    }
    .news .swiper-slide {
        height: 1400px;
    }
    .news .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 200px;
    }
    .profesional {
        background-color: var(--color-dg);
        border-radius: 5rem;
        margin: 1rem;
    }
    .profesional h2 {
        font-size: 31px;
    }
    .profesional p {
        font-size: 16px;
        line-height: 1.5rem;
    }
    .footer-logo {
        width: calc(100% - 2rem);
        padding: 0 1rem;
    }
    .footer-logo img {
        width: 100%;
    }
    .footer-logo p {
        font-size: 21px;
    }
    .fnb {
        padding: 1rem;
        flex-direction: column;
        font-size: 16px;
    }

    .fnb li ul li {
        display: none;
    }
    .copyright {
        border: none;
        flex-direction: column;
    }
    .copyright p {
        font-size: 16px;
        padding: 1rem;
    }
    .copyright p:nth-of-type(2) {
        order: -1;
    }
}
@media (max-width: 500px) {
    .work li {
        flex-direction: column;
    }
}
@media (max-width: 400px) {
    .faq-list.on {
        height: 450px;
    }
    .faq-list p {
        font-size: 16px;
    }
}
